<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Burger App</title>
<!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <script src="jquery-3.4.1.min.js"></script>
    <script src = "../public/assets/js/burger.js"></script>

</head>
<body>

<div class = container>
<h1>Eat-Da-Burger!</h1>

<h2>Burgers that have not been devoured:</h2>

<ol>
    {{#each burgers}}
        {{#unless devoured}}
            {{> burgers devoured=false}}
        {{/unless}}
    {{/each}}
</ol>

<h2>Burgers that have been devoured:</h2>

<ol>
    {{#each burgers}}
        {{#unless devoured}}
            {{> burgers devoured=true}}
        {{/unless}}
    {{/each}}
</ol>

<h3>Add a Burger</h3>
<form class = "create-form">
    <div class = "form-group">
        <input type = "text" id = "newBurger" name = "burgerName">
    </div>

    <button type = "submit">Add Burger</button>
</form>
</div>


</body>
</html>